<!-- loader -->
<div class="loader-container" *ngIf="isLoading">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- loader -->

<!-- main page -->
<div class="container-fluid" *ngIf=" !isLoading">
    <div class="row outline">
        <!-- top navbar -->
        <app-primary-nav></app-primary-nav>
        <!-- top navbar -->
    </div>
    <div class="row">
        <div class="col-sm-3 outline" style="height: 100vw; background-color: #E5C397;">
            <!-- vertical navbar -->
            <app-secondary-nav></app-secondary-nav>
            <!-- vertical navbar -->
        </div>
        <!-- lists container -->
        <div class="col-sm-9" style="background-image: url('../../assets/back.jpg');background-repeat: no-repeat;  background-attachment: fixed;
        background-size: cover;">
            <div class="container-fluid">
                <!-- search and filter -->
                <div class="row" style="padding: 20px; background: white; position: relative; 
                 border-radius: 10px; margin-top: 12px; margin-bottom: 12px;">
                    <div class="dropdown">
                        <i class="fa fa-filter" aria-hidden="true" style="position: absolute;
                        left: -3px;
                        top: 8px;
                        width: 10px;cursor: pointer!important;" (click)="toggle = !toggle"></i>
                        <div class="dropdown-content" *ngIf="toggle">
                            <div (click)="filter='desc';handlePageChange(1);toggle = false"
                                style="border-bottom: solid 1px black;padding:10px;cursor: pointer !important;">Desc <i
                                    class="fa fa-sort-amount-desc"></i></div>
                            <div (click)="filter='asc';handlePageChange(1); toggle = false"
                                style="padding:10px;cursor: pointer !important;">Asc <i
                                    class="fa fa-sort-amount-asc"></i></div>
                        </div>
                    </div>
                    <input type="text" [(ngModel)]="searchTerm" placeholder="Search" (input)="onSearchChange()"
                        style="width: 98%;margin-left:2%">
                    <i class="fa fa-search" aria-hidden="true" style="position: absolute;
                        right: 33px;
                        width: 10px;
                        top: 27px;cursor: pointer !important;"></i>
                </div>
                <!-- search and filter -->

                <div class="row">
                    <!-- user data cards -->
                    <div class="col-sm-4" *ngFor="let user of currentPageData" style="padding:5px; position: relative;">
                        <div class="container-fluid">
                            <div class="row users-card" id="user-card{{user.id}}">
                                <div class="col-sm-2 d-flex align-items-center p-0"
                                    style="padding-left: 10px !important;">
                                    <div class="circle" appRandomColor>
                                        <p class="circle-inner">{{getInitials(user.name)}}</p>
                                    </div>
                                </div>
                                <div class="col-sm-10">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <h5 class="col-sm-9" style="white-space: pre;" appCustomtooltip>{{
                                                user.name.firstname
                                                }} {{ user.name.lastname }}</h5>
                                        </div>
                                        <div class="row">
                                            <span class="col-sm-6 pr-0"
                                                style="white-space: pre;border-right:solid 1px black;"
                                                appCustomtooltip>{{
                                                user.email }}</span>
                                            <span class="col-sm-6 pl-0" style="white-space: pre;" appCustomtooltip> {{
                                                user.phone
                                                }}</span>
                                        </div>
                                        <div class="row">
                                            <span class="col-sm-12" style="white-space: pre;" appCustomtooltip>{{
                                                user.address.city}}{{user.address.street}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- action buttons to delete and edit -->
                        <i class="fa fa-ellipsis-v" style="position: absolute;
                        top: 10px;
                        right: 25px;cursor:pointer;" (click)="toggleActionButton(user.id)" aria-hidden="true"></i>

                        <span class="row action-button" style="display: none;" id="action-button{{user.id}}">
                            <button class="col-sm-6 btn " (click)="editUser(user)"
                                style="background-color: #73e43b;color: white !important; margin-left: 20%;"><i
                                    class="fas fa-pen"></i>Edit</button>
                            <button class="col-sm-6 btn" (click)="deleteUser(user)" style="  background: red; color: white !important;margin-left: 5px;
                            "><i class="fa fa-trash" aria-hidden="true"></i>
                                Delete</button>
                        </span>
                        <!-- action buttons to delete and edit -->
                    </div>
                    <!-- user data cards -->
                </div>
                <div class="row">
                    <h5 *ngIf="!currentPageData.length" style="text-align: center;
                    color: white;"> No data Found! </h5>
                </div>
                <!-- pagination -->
                <div class="row" style="width: 100%;" *ngIf=" displayLength > currentPageData.length ">
                    <app-pagination [items]="userList" [itemsPerPage]="itemsPerPage"
                        (pageChange)="handlePageChange($event)"></app-pagination>
                </div>
                <!-- pagination -->
            </div>
        </div>
        <!-- lists container -->
    </div>
</div>