<!-- top navbar -->
<nav class="navbar navbar-expand-sm sticky-top">
  <a class="navbar-brand ml-5">
    <h2 class="container"><img src="../../../assets/site_logo.png" alt="" height="80px" width="300px"></h2>
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav container justify-content-end" style="pointer-events: none;">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">MEETINGS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">APPLY NOW</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">PAGES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">COURSES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CONTACT US</a>
      </li>
    </ul>
  </div>
</nav>
<!-- top navbar -->