<div class="loader-container" *ngIf="isLoading">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div class="container-fluid" *ngIf=" !isLoading">
    <div class="row outline">
        <app-primary-nav></app-primary-nav>
    </div>
    <div class="row">
        <div class="col-sm-3 outline">
            <app-secondary-nav class="outline"></app-secondary-nav>
        </div>
        <div class="col-sm-9">
            <div class="container-fluid">
                <div class="row" style="padding: 20px;">
                    <i class="fa fa-filter" aria-hidden="true"></i>
                </div>
                <div class="row">
                    <div class="col-sm-4" *ngFor="let user of currentPageData" style="padding:5px; position: relative;">
                        <!-- <div class="container-fluid custom-card">
                            <div class="row user-img-block">
                                <div class="user-img" appRandomColor>
                                    <span>{{getInitials(user.name)}}</span>
                                </div>
                            </div>
                            <div class="row user-details">
                                <div class="container ">
                                    <div class="row"><h5 class="card-title">{{
                                        user.name.firstname
                                        }} {{ user.name.lastname }}</h5></div>
                                    
                                    <div class="row">
                                        CONTACT DETAILS:
                                        <span class="pr-0" style="white-space: pre;"
                                            appCustomtooltip>{{ user.email }}</span>
                                        <span class="pl-0" style="white-space: pre;" appCustomtooltip>{{
                                            user.phone
                                            }}</span>
                                    </div>
                                    <div class="row">
                                        ADDRESS:
                                        <span class="col-sm-12" style="white-space: pre;"
                                            appCustomtooltip>{{
                                                user.address.city}}{{user.address.street}}</span>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="row users-card" id="user-card{{user.id}}">
                            <div class="col-sm-2 d-flex align-items-center p-0" style="padding-left: 10px !important;">
                                <div class="circle" appRandomColor>
                                    <p class="circle-inner">{{getInitials(user.name)}}</p>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="row">
                                    <h5 class="col-sm-9" style="white-space: pre;" appCustomtooltip>{{
                                        user.name.firstname
                                        }} {{ user.name.lastname }}</h5>
                                </div>
                                <div class="row">
                                    <span class="col-sm-6 pr-0" style="white-space: pre;border-right:solid 1px black;"
                                        appCustomtooltip>{{ user.email }}</span>
                                    <span class="col-sm-6 pl-0" style="white-space: pre;" appCustomtooltip> {{
                                        user.phone
                                        }}</span>
                                </div>
                                <div class="row">
                                    <span class="col-sm-12" style="white-space: pre;" appCustomtooltip>{{
                                        user.address.city}}{{user.address.street}}</span>
                                </div>
                            </div>
                        </div><i class="fa fa-ellipsis-v" style="position: absolute;
                        top: 10px;
                        right: 25px;cursor:pointer;" (click)="toggleActionButton(user.id)" aria-hidden="true"></i>

                        <span class="row action-button" style="display: none;" id="action-button{{user.id}}">
                            <button class="col-sm-6 btn " (click)="editUser(user)" style="background-color: #73e43b;color: white; margin-left: 20%;"><i
                                    class="fas fa-pen"></i>Edit</button>
                            <button class="col-sm-6 btn" (click)="deleteUser(user)" style="  background: red; color: white;margin-left: 5px;
                            "><i class="fa fa-trash" aria-hidden="true"></i>
                                Delete</button>
                        </span>

                    </div>
                </div>
                <div class="row" style="width: 100%;" *ngIf="userList.length !== currentPageData.length">
                    <app-pagination [items]="userList" [itemsPerPage]="itemsPerPage"
                        (pageChange)="handlePageChange($event)"></app-pagination>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="user-card col-sm-4">
        <div class="container-fluid">
            <div class="row user-img-block">
                <div class="user-img" appRandomColor>
                    <span>SS</span>
                </div>
            </div>
            <div class="row user-details">
                <div class="card-body">
                    <h5 class="card-title">Shubham syal</h5>
                    <div class="row card-text">
                        CONTACT DETAILS:
                        <span class="pr-0" style="white-space: pre;border-right:solid 1px black;"
                            appCustomtooltip>assssssssssssssssssssssssssssssssssss</span>
                        <span class="pl-0" style="white-space: pre;" appCustomtooltip>444444444444444444444444</span>
                    </div>
                    <div class="row card-text">
                        ADDRESS:
                        <span class="col-sm-12" style="white-space: pre;"
                            appCustomtooltip>asdddddddddddddddddddddddddddddddd</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->