<!-- user-upsert.component.html -->
<div class="loader-container" *ngIf="isLoading">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- Your form -->
<div class="container-fluid" *ngIf="!isLoading">
    <div class="row outline">
        <app-primary-nav class="outline"></app-primary-nav>
    </div>
    <div class="row">
        <div class="col-sm-3 outline">
            <app-secondary-nav></app-secondary-nav>
        </div>
        <div class="col-sm-9">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="container mt-5">
                <div formGroupName="name" class="form-group">
                    <label for="firstname">First Name:</label>
                    <input type="text" id="firstname" formControlName="firstname" class="form-control" />

                    <label for="lastname">Last Name:</label>
                    <input type="text" id="lastname" formControlName="lastname" class="form-control" />
                </div>

                <div formGroupName="address" class="form-group">
                    <label for="city">City:</label>
                    <input type="text" id="city" formControlName="city" class="form-control" />

                    <label for="street">Street:</label>
                    <input type="text" id="street" formControlName="street" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" formControlName="email" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input type="text" id="phone" formControlName="phone" class="form-control" />
                </div>

                <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>